@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*{
    font-family: "Lora", serif;
}

header{
    background-color: rgba(253, 177, 63, 0.4);
    width: 98.8vw;
}

.logo{
    height: 50px;
}

.home{
    height: 90vh;
    background-color: rgb(255, 192, 96);
    background-image: url(imgs/cat.png);
    background-position: start;
    background-repeat: no-repeat;
    background-size: contain;
}

.title-home{
    font-size: 55px;
}
.paragraph-home{
    font-size: 22px;
    color: rgb(58, 57, 57);
}

.envolvidos{
    height: 90vh;
    background-color: rgb(255, 208, 138);
}

.wpp{
    height: 100px;
}

@media (min-width:1110px){
    .text-home{
        margin-left: 30vw;  
    }
}

@media (max-width:1110px){
    .home{
        background-size: cover;
    }   
}
